<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
  <%- include('partials/header-admin') %>

  <main class="create__main container">
    <h1 class="admin__title">CREAR NUEVO ITEM</h1>
    <form method="post" class="admin-form" action="/admin/create" enctype="multipart/form-data">
      <section class="admin-form__section space-between">
        <div class="admin-form__select">
          <label for="category_id" class="light-label">Categoría:</label>
          <div class="stylized-select">
            <select name="category_id" id="category">
              <option value="select" class="default__option">Seleccionar</option>

              <% categorys.forEach(category => { %>
              <option value="<%= category.category_id %>"><%= category.category_name %></option>
              <% }) %>

            </select>
            <div class="stylized-select__arrow">
              <iconify-icon icon="iconamoon:arrow-down-2-fill" width="30px" height="30px"></iconify-icon>
            </div>
          </div>
        </div>
        <div class="admin-form__select">
          <label for="license_id" class="light-label">Licencia:</label>
          <div class="stylized-select">
            <select name="license_id" id="license">
              <option value="select" class="default__option">Seleccionar</option>

              <% licenses.forEach(license => { %>
              <option value="<%= license.license_id %>"><%= license.license_name %></option>
              <% }) %>

            </select>
            <div class="stylized-select__arrow">
              <iconify-icon icon="iconamoon:arrow-down-2-fill" width="30px" height="30px"></iconify-icon>
            </div>
          </div>
        </div>
      </section>
      <section class="admin-form__section">
        <div class="admin-form__text">
          <label for="product_name">Nombre del Producto:</label>
          <input type="text" name="product_name" class="input-text__large" placeholder="Kakashi Hatake Shippuden Saga" required>
        </div>
      </section>
      <section class="admin-form__section">
        <textarea name="product_description" id="description" placeholder="Descripción del producto" required></textarea>
      </section>
      <section class="admin-form__section">
        <div class="admin-form__text">
          <label for="sku">SKU:</label>
          <input type="text" name="sku" class="input-text__medium" pattern="^[A-Z]{3}\d{6}$" placeholder="SSK101001" required>
        </div>
        <div class="admin-form__text">
          <label for="price">Precio: $</label>
          <input type="text" name="price" class="input-text__medium price" pattern="^\d+(\.\d+)?$" placeholder="0.000,00" required>
        </div>
        <div class="admin-form__text">
          <label for="stock">Stock:</label>
          <input type="text" name="stock" class="input-text__small" pattern="^\d+$" placeholder="0" required>
        </div>
      </section>
      <section class="admin-form__section">
        <div class="admin-form__text">
          <label for="discount">Descuento:</label>
          <input type="text" name="discount" class="input-text__small off" pattern="^\d+$" placeholder="0">
          <label for="off">%</label>
        </div>
        <div class="admin-form__select">
          <label for="dues">Cuotas:</label>
          <div class="stylized-select">
            <select name="dues" id="payment">
              <option value="1">1 Cuota</option>
              <option value="3" selected>3 Cuotas sin interés</option>
              <option value="6">6 Cuotas sin interés</option>
              <option value="9">9 Cuotas sin interés</option>
              <option value="12">12 Cuotas sin interés</option>
            </select>
            <div class="stylized-select__arrow">
              <iconify-icon icon="iconamoon:arrow-down-2-fill" width="30px" height="30px"></iconify-icon>
            </div>
          </div>
        </div>
      </section>
      <section class="admin-form__section admin-files__section">
        <div class="admin-form__file">
          <label for="image_front">Imágen Frente:</label>
          <input type="file" accept="image/*" name="image_front" class="admin-file__front" required>
        </div>
        <div class="admin-form__file">
          <label for="image_back">Imágen Dorso:</label>
          <input type="file" accept="image/*" name="image_back" class="admin-file__back" required>
        </div>
      </section>
      <section class="admin-form__section">
        <figure class="admin-form__figure admin-figure__front">
          <img src="" alt="" class="admin-img__front">
          <figcaption>Frente</figcaption>
        </figure>
        <figure class="admin-form__figure admin-figure__back">
          <img src="" alt="" class="admin-img__back">
          <figcaption>Dorso</figcaption>
        </figure>
      </section>
      <section class="admin-form__section">
        <div class="admin-form__buttons">
          <button type="submit" class="admin__button">Agregar Producto</button>
          <button class="admin__button clear-button">Limpiar</button>
        </div>
      </section>
    </form>
  </main>

  <%- include('partials/footer') %>

  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <script src="../../js/adminForm.js"></script>
</body>

</html>